<template name="layout">
	<div class="container">

		<ul class="nav nav-tabs">
		  <li role="presentation"><a href="{{pathFor 'home'}}">Home</a></li>
		  <li role="presentation"><a href="{{pathFor 'about'}}">About</a></li>
		  <li role="presentation"><a href="{{pathFor 'comments'}}">Comments</a></li>
		  <li role="presentation"><a href="{{pathFor 'wallets'}}">Wallets</a></li>
		  <li role="presentation"><a href="{{pathFor 'debt'}}">Debt</a></li>
		  <li role="presentation"><a href="{{pathFor 'save'}}">Save</a></li>
			<li role="presentation"><a href="{{pathFor 'speech'}}">Speech</a></li>
						<li role="presentation"><a href="{{pathFor 'quiz23'}}">Quiz 2&3</a></li>
				{{> loginButtons}}
		</ul>

		<div class="btn-group dropup">
		  <button type="button" class="btn btn-default">Settings</button>
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    <span class="caret"></span>
		    <span class="sr-only">Toggle Dropdown</span>
		  </button>
		  <ul class="dropdown-menu">
		    <li role="presentation"><a href="{{pathFor 'settings'}}">Edit My Settings</a></li>
		  </ul>
		</div>

	<h1>C.R.E.A.M.</h1>
	{{> yield}}

	</div>
</template>
