body {
  background-color: #C69A70;
  color: #8C2610;
  font-family: Helvetica, Arial, sans-serif;
  text-align:center;
}

#container {
  background-color: #DCC0A5;
  width: 100%
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: #D9492A;
  color: #5C0C0C;
  text-align: center;
}

#paragraph {
  background-color: #AD1414;
  color: #440606;
  width: 600 px;
  margin-left: auto;
  margin-right: auto;
}

#list ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
  color: black;
}
